# Virtual environment folder
venv/
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Cache files
*.cache
*.mypy_cache/
*.pytest_cache/

# Ignore the outputs
*.csv  # Ignore CSV files (unless you want to track specific CSVs)
